*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: "LiNiladriRongtuliUnicode";
    src: url("/FrontEnd/Madrasah/fonts/Li Alinur Tatsama Unicode.ttf");
}
/* .first_bg_style{
    font-family: 'LiNiladriRongtuliUnicode', sans-serif;
    color: #29a68885;
    -webkit-text-stroke: 2px var(--color-main);
} */

:root{
	--color-bg:#ffffff;
	--color-main:#6AAD46;
	--color-deep:#548D5A;
	--color-white:white;
    --color-deep-white:#e5e5e5;
	--color-black:black;
	--color-smart-black:#3C3C3C;
	--color-hover:#8d5a00;
}
body{
	background:var(--color-bg);
	font-family: sans-serif;
	color: var(--color-black);
    height: 100%;
    overflow: hidden;
    font-family: 'LiNiladriRongtuliUnicode', sans-serif;
}


/* @media screen and (max-width: 1300px){
body {
    min-width: 100%;
}
} */

/* /////  Top Nav Section Start ------------------- */
.top_nav{
    widows: 100%;
    height: 35px;
    padding: 4px 0px;
    background: var(--color-smart-black);
    color: white;
}
.top_nav  li{
    list-style: none;
    float: right;
    padding: 2px 15px;
    font-size: 16px;
    color: white;
    border-right: 2px solid #646464;
}
.top_nav  li i{
    padding: 0px;
    font-size: 18px;
    color: var(--color-white);
}
.top_nav  li a{
    color: var(--color-deep-white);
}
.top_nav li:nth-child(1){
    border-right: none;
    padding-right: 0;
}
.top_nav li:nth-last-child(1) i,
.top_nav li:nth-last-child(2) i{
    padding: 3px 10px 0px 0px;
    font-size: 14px;
}

/* /////  Top Nav Section End ------------------- */


/* /////  Nav Bar Section Start ------------------- */
.nav_bar{
    width: 100%;
    background: #6aad46c7;
    padding: 25px 0px;
    position: fixed;
    top: 35px;
    transition: all .5s ease-in-out;
}

.nav_bar .container{
    line-height:1;
}
.nav_bar .nav_brand {
    width: 45px;
    height: 45px;
    float: left;
    position: relative;
    /* margin-left: 50px; */
    transition: all .3s ease-in-out;
}
.nav_bar .nav_brand img{
    width: 100%;
    scale:3.3;
    transition: all .5s ease-in-out;
}
.nav_bar .nav_list{
    width: calc(100% - 45px);
    display: inline-block;
}


/* Nav Bar Active Section Start */
.nav_bar_active{
    background: var(--color-main) !important;
    padding: 10px 0px !important;
    top: 0px !important;
}
.nav_bar_active .nav_brand{
    margin-left: 0px !important;
}
.nav_bar_active .nav_brand img{
    scale:1.3 !important;
}
/* .nav_bar_active .nav_list{
    width: calc(100% - 45px) !important;
} */

/* Nav Bar Active Section End */


.nav_bar .nav_list li{
    list-style: none;
    float: right;
    padding: 10px 15px;
    font-size: 20px;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    position: relative;
}
.nav_bar .nav_list li:hover{
    color: var(--color-hover);
}
.nav_bar .nav_list a:nth-child(1) li,
.nav_bar .nav_list a:nth-child(2) li{
    color: var(--color-smart-black);
}
.nav_bar .nav_list a:nth-child(1) li:hover{
    background: #f1b92e !important;
}
.nav_bar .nav_list a:nth-child(2) li:hover{
    background: #48cd00 !important;
}


.nav_bar .nav_list .nav_dropdown{
    width: 180px;
    min-height: 50px;
    background: var(--color-deep);
    border: 2px solid var(--color-deep);
    position: absolute;
    top: 40px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.nav_bar .nav_list .nav_dropdown a{
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}
.nav_bar .nav_list .nav_dropdown a:hover{
    background: var(--color-main);
}
.nav_bar .nav_list li:hover .nav_dropdown{
    visibility: visible;
    opacity: 1;
}

.nav_bar .nav_button{
    display: none;
}


/* /////  Nav Bar Section End ------------------- */


/* /////  Header Section Start ------------------- */

.header_section{
    height: 140vh;
}










/* /////  Scroll To Top Start ------------------- */
.scroll_to_top{
    width: 60px;
    height: 60px;
    background: #6aad4642;
    border-radius: 50%;
    border: 1px solid var(--color-main);
    position: fixed;
    right: 5%;
    bottom: 60px;
    font-size: 30px;
    color: var(--color-main);
    opacity: 80%;
    cursor: pointer;
    display: none;
    z-index: 10;
    padding: 14px;
}
.scroll_to_top:hover{
    opacity: 100%;
}
/* /////  Scroll To Top End ------------------- */









/*----------------*/
/*Responsive Start*/

/*iPad Pro Start*/
@media screen and (max-width: 1025px) {


}
/*iPad Pro End*/


/*iPad Start*/
@media screen and (max-width: 770px) {
   

}
/*iPad End*/



/*MiniMax Start*/
@media screen and (max-width: 540px) {

}
/*MiniMax End*/


/*iPhone S Start*/
@media screen and (max-width: 414px) {
 


}
/*iPhone S End*/

/*iPhone 12 Pro / Pixel 5 Start*/
@media screen and (max-width: 395px) {


}
/*iPhone 12 Pro / Pixel 5 End*/



/*iPhone 5/SE 6/7/8 Start*/
@media screen and (max-width: 375px) {


}
/*iPhone 5/SE 6/7/8 End*/



/*----------------*/
/*Responsive End*/