*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: "LiNiladriRongtuliUnicode";
    src: url("/FrontEnd/Madrasah/fonts/Li Alinur Tatsama Unicode.ttf");
}
@font-face {
    font-family: "Jomhuria";
    src: url("/FrontEnd/Madrasah/fonts/Jomhuria-Regular.ttf");
}
/* .first_bg_style{
    font-family: 'LiNiladriRongtuliUnicode', sans-serif;
    color: #29a68885;
    -webkit-text-stroke: 2px var(--color-main);
} */

:root{
	--color-bg:#ffffff;
	--color-main:#6AAD46;
	--color-deep:#548D5A;
	--color-white:white;
    --color-deep-white:#e5e5e5;
	--color-black:black;
	--color-smart-black:#3C3C3C;
	--color-hover:#8d5a00;
}
body{
	background:var(--color-bg);
	font-family: sans-serif;
	color: var(--color-black);
    height: 100%;
    overflow: hidden;
    font-family: 'LiNiladriRongtuliUnicode', sans-serif;
}


/* @media screen and (max-width: 1300px){
body {
    min-width: 100%;
}
} */

/* /////  Top Nav Section Start ------------------- */
.top_nav{
    widows: 100%;
    height: 35px;
    padding: 4px 0px;
    background: var(--color-smart-black);
    color: white;
}
.top_nav  li{
    list-style: none;
    float: right;
    padding: 2px 15px;
    font-size: 16px;
    color: white;
    border-right: 2px solid #646464;
}
.top_nav  li i{
    padding: 0px;
    font-size: 18px;
    color: var(--color-white);
}
.top_nav  li a{
    color: var(--color-deep-white);
}
.top_nav li:nth-child(1){
    border-right: none;
    padding-right: 0;
}
.top_nav li:nth-last-child(1) i,
.top_nav li:nth-last-child(2) i{
    padding: 3px 10px 0px 0px;
    font-size: 14px;
}

/* /////  Top Nav Section End ------------------- */


/* /////  Nav Bar Section Start ------------------- */
.nav_bar{
    width: 100%;
    background: #6aad46c7;
    padding: 25px 0px;
    position: fixed;
    top: 35px;
    transition: all .5s ease-in-out;
    z-index: 100;
}

.nav_bar .container{
    line-height:1;
}
.nav_bar .nav_brand {
    width: 45px;
    height: 45px;
    float: left;
    position: relative;
    /* margin-left: 50px; */
    transition: all .3s ease-in-out;
}
.nav_bar .nav_brand img{
    width: 100%;
    scale:3.3;
    transition: all .5s ease-in-out;
}
.nav_bar .nav_list{
    width: calc(100% - 45px);
    display: inline-block;
}


/* Nav Bar Active Section Start */
.nav_bar_active{
    background: var(--color-main) !important;
    padding: 10px 0px !important;
    top: 0px !important;
}
.nav_bar_active .nav_brand{
    margin-left: 0px !important;
}
.nav_bar_active .nav_brand img{
    scale:1.3 !important;
}
/* .nav_bar_active .nav_list{
    width: calc(100% - 45px) !important;
} */

/* Nav Bar Active Section End */


.nav_bar .nav_list li{
    list-style: none;
    float: right;
    padding: 10px 15px;
    font-size: 20px;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    position: relative;
}
.nav_bar .nav_list li:hover{
    color: var(--color-hover);
}
.nav_bar .nav_list a:nth-child(1) li,
.nav_bar .nav_list a:nth-child(2) li{
    color: var(--color-smart-black);
}
.nav_bar .nav_list a:nth-child(1) li:hover{
    background: #f1b92e !important;
}
.nav_bar .nav_list a:nth-child(2) li:hover{
    background: #48cd00 !important;
}


.nav_bar .nav_list .nav_dropdown{
    width: 180px;
    min-height: 50px;
    background: var(--color-deep);
    border: 2px solid var(--color-deep);
    position: absolute;
    top: 40px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.nav_bar .nav_list .nav_dropdown a{
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}
.nav_bar .nav_list .nav_dropdown a:hover{
    background: var(--color-main);
}
.nav_bar .nav_list li:hover .nav_dropdown{
    visibility: visible;
    opacity: 1;
}

.nav_bar .nav_button{
    display: none;
}


/* /////  Nav Bar Section End ------------------- */


/* /////  Header Section Start ------------------- */

.header_section{
    position: relative;
}
.header_section .header_slider{
    width: 100%;
    height: calc(100vh - 50px);
    overflow: hidden;
    position: relative;
}
.header_section .header_slider .slider{
    width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.header_section .header_slider .slider_image{
    width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
}
.header_section .container p {
    font-family: 'Jomhuria', sans-serif;
    position: absolute;
    font-size: 100px;
    color: #ffffffe0;
    top: 50%;
    font-weight: bold;
    -webkit-text-stroke: 0.1px #4c4c4c;
    text-shadow: -4px 4px 5px #404040;
}
/* /////  Header Section End ------------------- */



/* /////  Update Section Start ------------------- */
/* /////  Notice ------------------- */
.updates_section {
    width: 100%;
    height: auto;
    padding: 50px 0px;
}
.updates_section .notice_section{
    width: 60%;
    height: auto;
    overflow: hidden;
    display: inline-block;
    padding: 0px 50px 0px 0px;
}
.updates_section .notice_section .section_title{
    width:100%;
    font-size: 30px;
    margin-bottom: 10px;
}
.updates_section .notice_section .section_bar{
    width:100%;
    padding: 20px;
    background: wheat;
}


.updates_section .notice_section .section_bar{
    width: 100%;
    min-height: 10px;
    max-height: 435px;
    overflow-y: scroll;
    padding: 20px;
    background: wheat;
    border: 1px solid wheat;
}
.updates_section .notice_section .section_bar::-webkit-scrollbar {
    width: 10px;
    border-radius: 40px;
}
/* .updates_section .notice_section .section_bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(206 206 206 / 15%);
} */
.updates_section .notice_section .section_bar::-webkit-scrollbar-thumb {
	background-color: var(--color-smart-black);
    border: 3px solid #ffffffc7;
    border-radius: 10px;
}




.updates_section .notice_section .section_bar .notice_bar{
    width:100%;
    background: white;
    display: flex;
    margin-bottom: 10px;
}
.updates_section .notice_section .section_bar .notice_bar .image_box {
    width: 70px;
    height: 70px;
    background: #efefef;
    display: inline-block;
    font-size: 70px;
    line-height: 0;
    color: #cd1309;
}
.updates_section .notice_section .section_bar .notice_bar .notice_box{
    width:calc(100% - 70px);
    height: 70px;
    padding: 8px 15px;
    background: white;
    display: inline-block;
}
.updates_section .notice_section .section_bar .notice_bar .notice_box .notice_title{
    font-size: 18px;
    margin-bottom: 5px;
    height: 25px;
    word-break: break-all;
    overflow: hidden;
}
.updates_section .notice_section .section_bar .notice_bar .notice_box .notice_date{
    width:calc(100% - 120px);
    display: inline-block;
}
.updates_section .notice_section .section_bar .notice_bar .notice_box .notice_download{
    width: 120px;
    float: right;
    text-align: center;
}
.updates_section .notice_section .section_bar .load_more{
    width: 100%;
    text-align: center;
    padding-top: 5px;
}
.updates_section .notice_section .section_bar .load_more a{
    color: var(--color-smart-black);
}
/* /////  Notice ------------------- */


/* /////  Event ------------------- */
.updates_section .event_section{
    width: calc(40% - 5px);
    height: auto;
    /* overflow: hidden; */
    float: right;
}
.updates_section .event_section .section_title{
    width:100%;
    font-size: 30px;
    margin-bottom: 10px;
}
.updates_section .event_section .section_bar{
    width:100%;
}
.updates_section .event_section .section_bar .event_bar{
    width: 100%;
    height: 120px;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 0px 9px -3px black;
}
.updates_section .event_section .section_bar .event_bar .event_date{
    width: 120px;
    height: 120px;
    background: #48cd00;
    position: relative;
    display: inline-block;
    text-align: center;
}
.updates_section .event_section .section_bar .previous_event_bar .event_date{
    background: #f5b33b;
}


.updates_section .event_section .section_bar .event_bar .event_date .event_date_dot{
    width: 15px;
    height: 15px;
    border-radius: 60%;
    background: var(--color-smart-black);
    position: absolute;
    top: 10px;
}
.updates_section .event_section .section_bar .event_bar .event_date .event_date_dot:nth-child(1){
    left: 10px;
}
.updates_section .event_section .section_bar .event_bar .event_date .event_date_dot:nth-child(2){
    right: 10px;
}
.updates_section .event_section .section_bar .event_bar .event_date .date_day {
    font-size: 26px;
    font-weight: bold;
    margin-top: 15px;
    color: #1e1e1e;
}
.updates_section .event_section .section_bar .event_bar .event_date .date_month {
    font-size: 16px;
    color: #1e1e1e;
}
.updates_section .event_section .section_bar .event_bar .event_date .date_year {
    width: 100%;
    background: var(--color-smart-black);
    color: white;
    padding: 6px 0px;
    margin-top: 7px;
}





.updates_section .event_section .section_bar .event_bar .event_box{
    width: calc(100% - 120px);
    height: 120px;
    background: #c0f3a5;
    float: right;
    padding: 8px;
}
.updates_section .event_section .section_bar .previous_event_bar .event_box{
    background: #f5b33b6b;
}

.updates_section .event_section .section_bar .event_bar .event_box .event_title{
    font-size: 16px;
    line-height: 1.1;
    height: 36px;
    overflow: hidden;
}
.updates_section .event_section .section_bar .event_bar .event_box .event_desc{
    font-size: 14px;
    line-height: 1.1;
    margin-top: 5px;
    color: #484848;
    height: 48px;
    overflow: hidden;
}
.updates_section .event_section .section_bar .event_bar .event_box .event_time{
    font-size: 16px;
    line-height: 1.1;
    height: 18px;
    overflow: hidden;
}

.updates_section .event_section .section_bar .previous_event{
    margin-bottom: 10px;
}


/* /////  Event ------------------- */
/* /////  Update Section End ------------------- */






/* /////  Scroll To Top Start ------------------- */
.scroll_to_top{
    width: 60px;
    height: 60px;
    background: #6aad4642;
    border-radius: 50%;
    border: 1px solid var(--color-main);
    position: fixed;
    right: 5%;
    bottom: 60px;
    font-size: 30px;
    color: var(--color-main);
    opacity: 80%;
    cursor: pointer;
    display: none;
    z-index: 10;
    padding: 14px;
}
.scroll_to_top:hover{
    opacity: 100%;
}
/* /////  Scroll To Top End ------------------- */









/*----------------*/
/*Responsive Start*/

/*iPad Pro Start*/
@media screen and (max-width: 1025px) {


}
/*iPad Pro End*/


/*iPad Start*/
@media screen and (max-width: 770px) {
   

}
/*iPad End*/



/*MiniMax Start*/
@media screen and (max-width: 540px) {

}
/*MiniMax End*/


/*iPhone S Start*/
@media screen and (max-width: 414px) {
 


}
/*iPhone S End*/

/*iPhone 12 Pro / Pixel 5 Start*/
@media screen and (max-width: 395px) {


}
/*iPhone 12 Pro / Pixel 5 End*/



/*iPhone 5/SE 6/7/8 Start*/
@media screen and (max-width: 375px) {


}
/*iPhone 5/SE 6/7/8 End*/



/*----------------*/
/*Responsive End*/